/* CSS를 활용하여 레이아웃 및 스타일링을 완성해주세요 */
@layer Variable, Reset, Layout, Components, Utility, Accessibility;

@layer Variable {
  :root {
    --focus-border-color: #24388d;
    --button-bg-color: #03cf5d;
    --input-border-color: #dadada;
    --white: #fff;
    --gray99: 999;
  }
}
@layer Reset {
  /*! 에릭 마이어 reset.css */
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    line-height: 1.5;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: "";
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  button {
    background-color: transparent;
    border: 0;
    outline: 0;
  }
  input:focus,
  button:focus,
  textarea:focus,
  select:focus,
  label:focus,
  a:focus {
    outline: none;
    border: 1px solid var(--focus-border-color);
    box-sizing: border-box;
  }
}
@layer Layout {
  :is(.login-wrapper, .login-form) {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  .login-wrapper {
    --minwidth-content-size: 290px;

    padding: 4.375rem 1.25rem 6.9375rem;
    min-inline-size: var(--minwidth-content-size);

    @media (min-width: 768px) {
    }
  }
  .brand {
    flex: 0 0 auto;
  }
  .logo {
    display: block;
    block-size: 2.75rem;
  }
}
@layer Compoents {
  @layer Button {
    .btn-login {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      /* 색상 */
      &.green {
        background-color: var(--button-bg-color);
      }
    }
  }
  @layer Form {
    .login-form {
      flex: 1;
      width: 100%;
      margin-block-start: 2.8125rem;

      input {
        border: 1px solid var(--input-border-color);
        padding-inline: 0.875rem;
        block-size: 2.8125rem;

        &::placeholder {
          color: var(--gray99);
          font-size: 0.875rem;
          font-weight: 400;
        }
        &:focus {
          border-color: #03cf5d;
          background-color: #e9f0fd;
          outline: none;
        }
      }

      input,
      button {
        inline-size: 100%;
        box-sizing: border-box;
      }

      .login-form__password {
        margin-block-start: 0.625rem;
      }
      .btn-login {
        color: var(--white);
        font-size: 1rem;
        font-weight: 700;
        block-size: 3.5rem;
        margin-block-start: 1.25rem;
        cursor: pointer;

        @media (min-width: 768px) {
          border: 1px solid rgba(0, 0, 0, 0.1);
        }
      }
    }
    .state-from {
      --security-switch-color: #999;

      display: flex;
      width: 100%;
      margin-block-start: 0.625rem;
      justify-content: space-between;

      .keep {
        order: 1;
        input {
          overflow: hidden;
          display: block;
          position: absolute;
          border: 0;
          width: 1px;
          height: 1px;
          clip: rect(1px, 1px, 1px, 1px);
          + label {
            display: inline-block;
            padding-inline-start: 1.75rem;
            inline-size: 100%;
            block-size: 1.5rem;
            font-size: 0.875rem;
            background: url(./../../assets/login/unckecked.png) no-repeat;
          }
          &:checked {
            + label {
              background: url(./../../assets/login/checked.png) no-repeat;
            }
          }
        }
        @media (min-width: 768px) {
          order: 0;
        }
      }
      .security {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 0.5rem;
        visibility: hidden;

        .security__switch {
          text-transform: uppercase;
          color: var(--security-switch-color);
          font-size: 0.875rem;
          font-weight: 700;
          line-height: 1.3125rem;
        }

        @media (min-width: 768px) {
          visibility: visible;
        }
      }
    }
  }
  @layer Font {
    /* Custom Properties */
    .font-base {
      font-size: 1rem;
      color: #121212;
    }
  }
}
@layer Utility {
}

@layer Accessibility {
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}
