/* CSS를 활용하여 레이아웃 및 스타일링을 완성해주세요 */
@layer Variable, Reset, Layout, Components, Utility, Accessibility;

@layer Variable {
  :root {
  }
}
@layer Reset {
  /*! 에릭 마이어 reset.css */
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    line-height: 1.5;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: "";
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  button {
    background-color: transparent;
    border: 0;
    outline: 0;
  }
}
@layer Layout {
  :is(.login-wrapper, .login-form) {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  .login-wrapper {
    padding: 100px 170px 190px;
    border: 1px solid #000;
    min-inline-size: 460px;
    /* background-color: lightblue; */
  }
  .brand {
    flex: 0 0 auto;
  }
  .login-form {
    flex: 1;
    width: 100%;
    margin-block-start: 50px;

    input {
      padding: 14px 14px 13px 14px;
      border: 1px solid #dadada;

      &::placeholder {
        color: #999;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
      }
    }

    input,
    button {
      inline-size: 100%;
      box-sizing: border-box;
    }

    .login-form__nickname {
    }
    .login-form__password {
      margin-block-start: 10px;
    }
    .btn-login {
      margin-block-start: 20px;
      background-color: #03cf5d;
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      padding-block: 16px;
    }
  }
}
@layer Compoents {
  @layer Button {
    .btn-login {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      /* 크기 */
      &.base {
      }
      /* 색상 */
      &.green {
      }
    }
  }
  @layer Form {
  }
}
@layer Utility {
}

@layer Accessibility {
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}
